@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

:root {
    --font-form-:'Raleway', sans-serif;
    --font-titulo-: 'Helvetica', sans-serif;
    --cor-dnc:#303030;
    --cor-detalhe:#ffffff;
    --cor-input:#181818;
    --cor-botao:#0C70F2;
    --cor-alert:#E73550;
    --cor-alert-positivo:#0F7B0F;
}

body {
    background-color: var(--cor-dnc) ;
    color: var(--cor-detalhe);
    font-family: var(--font-form-);
    font-weight: 600;
}

.principal {
    display: grid;
    grid-template-columns: 15% 1fr;
}

.pLogo {
    width: 60%;
    margin: 3em 5em;
}

.pTitulo {
    margin: 5vmax 17vmax 0 0 ;
    text-align: center;
    
}

.pApp{
    width: 20%;
    margin-bottom: 2em;
}

.pTexto {
    font-size: 2em;
    font-family: var(--font-titulo-);
    font-weight: 700;
    margin-bottom: 1em;
}

.form {
    font-size: 1.5em;
    margin: 0 37% 3em 32%;
}

.fItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.etiqueta {
    align-self: start;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.entrada {
    font-weight: 400;
    color: var(--cor-input);
    border-radius: 10px;
    padding: 0.25em;
}

.botao {
    background-color: var(--cor-botao);
    border-radius: 6px;
    padding: 0.25em;
    width: 100%;
}

.aviso {
    align-self: flex-end;
    color: var(--cor-alert);
    font-weight: 400;
    margin-top: 0.5em;
    font-size: 0.5em;
}

.avisoPrincipal {
    align-self: initial;
    color: var(--cor-alert);
    font-weight: 400;
    margin-top: 0.5em;
    font-size: 0.5em;
}


@media screen and (max-width: 1080px){
    
    .pLogo {
        width:80%;
    }

    .pTitulo {
        margin: 2em 20% 2em 0 ;
        text-align: center;
    }
    .pApp{
        width: 30%;
    }
    
    .pTexto{
        font-size: 2em;
        margin-bottom: 1em;
    }

    .form {
        font-size: 2.25em;
        margin: 0 10% 0 10%;
        font-size: 1.5em;
    }

}

@media screen and (max-width: 720px){
    .principal {
        display: block;
        text-align: center;
    }

    .pLogo {
        width:30%;
        margin: 0.75em 5em;
    }

    .pTitulo {
        margin: 2em 0 2em 0;
        
    }
    .pApp{
        width: 50%;
    }
    
    .pTexto{
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .form {
        font-size: 1.25em;
        margin: 0 10% 0 10%;
        
    }

}